@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

$bg: #18181b;
$text: #fafafa;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  font-family: 'Poppins', sans-serif;
  background-color: $bg;
  color: $text;
}

body,
#app {
  height: 100%;
}